body{
    width: 100%;
    height: 100%;
}

.containerCard{
    width: 50%;
    height: 100%;
    display: flex;    
    align-items: center;
    justify-content: center;
}

.titulo-do-projeto{
    font-size: 13px;
    text-align: center;

}

.card{
    
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1em;
    color: white;
    background-image: linear-gradient( 45deg,#00008B , #38045e);
    border-radius:10px;
    cursor: pointer;
    box-shadow: #ffffff;
}
    

.imagem__projetos{

    border-radius: 10px;
}   

.botao-do-projeto{
    
    width: 100px;
    padding: 0.4em 0 0.4em 0;
    font-size: 1em;
    background-color: var(--cor-3);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    background-color: #63DB00;
    font-size: 10px;
}

