@import url(../estilos/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url(../estilos/Efeito-Ceu-Estrelado.css);
@import url(../estilos/cards-projetos.css);
@import url(../estilos/CarrosselHabilidade.css);


:root {
    --cor-preto: #000000;
    --cor-roxo-escuro: #2e064e;
    --cor-azul-claro: #29AAE3;
    --cor-branco-cinza: #9e9e9e;
    --cor-branco: #FFFFFF;
    --cor-preto-acinzentado: #181818;
    
    --fonte-Titulos: "Press Start 2P", system-ui;
    --fonte-Cursiva:"Press Start 2P", system-ui;
    --fonte-Texto-Normal:"Press Start 2P", system-ui;
}

body{
    box-sizing: border-box;
    font-family: var(--fonte-Titulos);
    background-color: var(--cor-preto);
}

.cabecalho{
    display: flex;
    align-content: center;
    gap: 10rem;
    padding: 1em 0 2em 0;
    background: transparent;
    justify-content: center;
    text-align: center;
    width: 100%;  
}

.cabecalho__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-branco);
    text-decoration: none;
    font-size: 16px;
    gap: 0.5rem;
    font-family: var(--fonte-Titulos);
    border-radius: 0%;
    padding: 5px;
    border-radius: 5%;
    align-items: center;
    text-align: center;
}

.cabecalho__menu:hover {
    color: var(--cor-branco-cinza);
    border-radius: 0.1em;
}

/*CONTAINER PRINCIPAL ONDE TEMOS A IMAGEM E O TEXTO*/
main{
    margin: 5em 5em;
    line-height: 2em
}
.container {
    display: flex;
    width: 100;
    height: 100;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 3em 0 10em 0;
    justify-content: space-between;
}
.container__titulo{
    font-size: 20px;
    padding: 0 0 3em 0;
    justify-content: center;
    text-align:center;

}

.container__blocos__texto{
    display: flex;
    flex-direction: column;
    width: 600px;
}

.container__blocos {
    display: flex;
    align-items: center;
    width: 100;
    gap: 5px;
    color: var(--cor-branco);
    padding: 0 0 1em 0;
}


#paragrafo-habilidade{
    align-items:     center;
    justify-content: center;
}

/*CONTAINER DO TEXTO DO TITULO*/

.container__blocos__texto__titulo {
    font-size:18px;
    font-family: var(--fonte-Titulos);
    color: var(--cor-branco-cinza);
    background-color: var(--cor-preto);
    text-align: center;
    padding: 2em 0 1.5em 0 ;
}



/*CONTAINER DO TEXTO DO PARAGRAFO*/
.container__blocos__texto__paragrafo {
    font-size: 15px;
    font-family: var(--fonte-Cursiva);
    color: var(--cor-branco);
    background-color: var(--cor-preto);
    text-align:justify;
}

.eduardo-avatar{
    display: flex;
    justify-content: center;
}
.foto-eduardo-avatar{
    width: 60%;
    background-color: white;
    border-radius: 100%;
    
}

/*ALINHAMENTO DOS BOTÕES E ESTILIZAÇÃO DO TEXTO ACIMA DELES*/
.flex {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    align-items: center;
    gap: 20px;

    font-family: var(--fonte-Titulos);

    font-weight: 500;

    font-size: 20px;
    color: var(--cor-branco);
}

/*ESTILIZAÇÃO DOS BOTÕES*/
.container__conteudo__botoes__links {

    display: flex;

    gap: 12px;

    width: 12em;

    height: 20px;

    align-items: center;

    text-align: center;

    text-decoration: none;

    border-radius: 1em;

    font-size: 15px;

    font-weight: 600;

    padding: 1em;

    color: var(--cor-branco);

    font-family: var(--fonte-Texto-Normal);

    border: 2px solid;
    
    cursor:pointer;
     
    background-repeat: no-repeat;
}

#botao__redes{
    padding: 0 0 0 1em;
}

/*HOVER DOS BOTÕES*/
.container__conteudo__botoes__links:hover {
    background-color: var(--cor-branco-cinza);
}



/*RODAPÉ DA PAGINA*/
.rodape {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-Cursiva);
    background: linear-gradient( to bottom, var(--cor-preto), var(--cor-roxo-escuro));
    padding: 4em 0 2em 0;

}

.rodape__imagem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4em;
    justify-content: center;
    
}

.rodape__texto {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    justify-content: center;
    text-align: center;
    padding: 6em 0 0 0;
    color: var(--cor-branco);
    
}

#efeitoRodape {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    animation: mylastmove 1.5s infinite;    
    transition: all 0.2s ease-in-out;
}

@keyframes mylastmove {
   0%{color: var(--cor-branco);
    }

   50%{color: transparent;
     }
   
   100%{
        color: var(--cor-branco);
     }
 }


 @media (max-width: 900px) { 
    .cabecalho{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em ;
        padding: 1em 0 6em 0;
        height: 100%;
    }


    .cabecalho__menu{
        flex-direction: column;

    }
    .texto__menu{
        font-size: 15px;
    }
    .container{
        flex-direction: column;
    }
    .container__blocos{
        flex-direction: column-reverse;
    }

    .container__blocos__texto{
        flex-direction: column;
        width: 290px;

    }
    .container__blocos__texto__paragrafo{
        font-size: 15px;
    }

    .flex{
        padding: 1em 0 0 0;
        font-size: 15px;
    }

    .container__conteudo__botoes__links{
        font-size: 10px;
        width: 5em;
    }


    #efeitoRodape {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 1%;
        width: 100%;
    }

    .container__blocos {
        display: flex;
    }
    .container__blocos__texto__titulo{
        align-items: center;
        font-size: 19px;
    }
    .container__conteudo__botoes__links{
        width: 150px;
    }
    .eduardo-avatar{
        display: flex;
        align-items: center;
        
    }
    
 }

