@import url(../estilos/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url(../estilos/Efeito-Ceu-Estrelado.css);
@import url(../estilos/cards-projetos.css);


:root {
    --cor-preto: #000000;
    --cor-roxo-escuro: #2e064e;
    --cor-azul-claro: #29AAE3;
    --cor-branco-cinza: #9e9e9e;
    --cor-branco: #FFFFFF;
    --cor-preto-acinzentado: #181818;
    
    --fonte-Titulos: "Press Start 2P", system-ui;
    --fonte-Cursiva:"Press Start 2P", system-ui;
    --fonte-Texto-Normal:"Press Start 2P", system-ui;
}

body{
    font-family: var(--fonte-Titulos);
    background-color: var(--cor-preto);

}


.cabecalho{
    display: flex;
    align-content: center;
    gap: 10rem;
    padding: 2em 0 2em 0;
    background: transparent;
    justify-content: center;
    width: 100%;

   
}

.cabecalho__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-branco);
    text-decoration: none;
    font-size: 1.2rem;
    gap: 0.5rem;
    font-family: var(--fonte-Titulos);
    border-radius: 0%;
    padding: 5px;
    border-radius: 5%;
    align-items: center;
}

.cabecalho__menu:hover {
    color: var(--cor-branco-cinza);
    border-radius: 0.1em;
}

/*CONTAINER PRINCIPAL ONDE TEMOS A IMAGEM E O TEXTO*/
.container {
    display: flex;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 7em 0 0 0;
}

.container__blocos__texto{
    display: flex;
    flex-direction: column;
    width: 600px;
}

.container__blocos {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10%;
    color: var(--cor-branco);
}

#paragrafo-habilidade{
    align-items: center;
    justify-content: center;
}


/*CONTAINER DO TEXTO DO TITULO*/
.container__blocos__texto__titulo {
    font-size:29px;
    font-family: var(--fonte-Titulos);
    color: var(--cor-branco-cinza);
    background-color: var(--cor-preto);
    text-align: center;
    padding: 0 0 1em 0 ;
}

/*CONTAINER DO TEXTO DO PARAGRAFO*/
.container__blocos__texto__paragrafo {
    font-size: 20px;
    font-family: var(--fonte-Cursiva);
    color: var(--cor-branco);
    background-color: var(--cor-preto);
    text-align:justify;
}

.foto-eduardo-avatar{
    width: 70vh;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    

    
}

/*ALINHAMENTO DOS BOTÕES E ESTILIZAÇÃO DO TEXTO ACIMA DELES*/
.container__conteudo__botoes {
    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: space-between;

    gap: 20px;

    font-family: var(--fonte-Titulos);

    font-weight: 500;

    font-size: 18px;
    color: var(--cor-branco);
    padding: 5em 0 5em 0;

}

/*ESTILIZAÇÃO DOS BOTÕES*/
.container__conteudo__botoes__links {

    display: flex;

    justify-content: center;

    gap: 12px;

    width: 12em;

    height: 20px;

    align-items: center;

    text-align: center;

    text-decoration: none;

    border-radius: 1em;

    font-size: 20px;

    font-weight: 600;

    padding: 1em;

    color: var(--cor-branco);

    font-family: var(--fonte-Texto-Normal);

    border: 2px solid;
    
    cursor:pointer;

}

/*HOVER DOS BOTÕES*/
.container__conteudo__botoes__links:hover {
    background-color: var(--cor-branco-cinza);
}



/*RODAPÉ DA PAGINA*/
.rodape {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--fonte-Cursiva);
    background: linear-gradient( to bottom, var(--cor-preto), var(--cor-roxo-escuro));
    padding: 4em 0 1em 0;

}



.rodape__imagem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 4em;
    justify-content: center;
    
}

.rodape__texto {
    display: flex;
    font-size: 0.7rem;
    justify-content: center;
    text-align: center;
    padding: 4em 0 0 0;
    color: var(--cor-branco);
    
}
#efeitoRodape {
    display: flex;
    justify-content: center;
    position: relative;
    width: 500px;
    
    
    position: relative;
    animation: mylastmove 4s infinite;    
    transition: all 0.2s ease-in-out;
}

@keyframes mylastmove {
   0%{color: var(--cor-branco);
    }

   50%{color: transparent;
     }
   
   100%{
        color: var(--cor-branco);
     }
 }


 @media (max-width: 999px) { 
    .cabecalho{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em ;
        padding: 1em 0 6em 0;
        height: 100%;

    }


    .cabecalho__menu{
        flex-direction: column;
    }

    .container__blocos{
        flex-direction: column;
    }

    .container__blocos__texto{
        flex-direction: column;
        width: 290px;

    }

    .container__blocos__texto__titulo{
        font-size: 22px;
    }
    .container__blocos__texto__paragrafo{
        font-size: 15px;
    }



    .container__conteudo__botoes__links{
        font-size: 10px;
        width: 5em;
    }

}
